<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <style>
        table {
            border: 2px solid black;
        }
        td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>All users data</h1>
    <table>
        <tr>
            <th>Sl No</th>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>

        <% let i = 1; %>
        <% for(let user of users) { %>
            <tr>
                <td><%= i++ %></td>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td>
                    <form action="/user/<%=user.id%>/edit" method="GET">
                        <button>Edit Username</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>